body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 20px;
}

.container {
    width: 900px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
select {
    padding: 6px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

button,
.btn {
    padding: 10px 20px;
    background: steelblue;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
.btn:hover {
    background: rgb(40, 90, 150);
}

fieldset {
    border: 1px solid #bbb;
    padding: 15px;
    border-radius: 7px;
    margin-top: 15px;
}

legend {
    font-weight: bold;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}